<nz-card [nzBordered]="false" nzTitle="Expense Calculator">
    <div nz-row>
        <div nz-col>
            <nz-form-item>
                <nz-form-label>Department/Manager</nz-form-label>
                <nz-form-control>
                    <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Please select" [(ngModel)]="selectedData">
                        <nz-option *ngFor="let option of employeeList" [nzValue]="option"
                            [nzLabel]="option.name"></nz-option>
                    </nz-select>
                </nz-form-control>
            </nz-form-item>
        </div>
    </div>

</nz-card>