<nz-card [nzBordered]="false" nzTitle="Expense Calculator">
    <div nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32 }">
        <div nz-col nzXs="24" nzSm="24" nzMd="12" nzXl="8" nzXXl="6">
            <nz-form-item>
                <nz-form-label [nzSm]="8" [nzXs]="24" nzFor="type">Type</nz-form-label>
                <nz-form-control [nzSm]="14" [nzXs]="24">
                    <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Please select" [(ngModel)]="selectedData">
                        <nz-option *ngFor="let option of employeeList" [nzValue]="option"
                            [nzLabel]="option.name"></nz-option>
                    </nz-select>
                </nz-form-control>
            </nz-form-item>
        </div>
    </div>

</nz-card>